@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3"><small>ServiceName<br/></small> @Model.ServiceName</h1>
    <h3 class="display-4"><small>Im running at<br /></small> @Model.Host:@Model.Port</h3>
    <p>
        <b>With headers:</b>
        
        @foreach (var h in @Model.IncomingHeaders)
        {
            <div>

                <b>@h.Key:</b> @h.Value
            </div>
        }
</p>
</div>
